@import "./../../variables.scss";

.input {
  background-color: $bg-color;
  border: none;
  border-bottom: 1px solid #ff3d00;
  color: $text-color;
  padding: 5px 10px;
  width: fit-content;
  &::placeholder {
    color: white;
    opacity: unset;
  }
}
