.btn{
    background: linear-gradient(92deg, #F05F22 1.5%, #E53F52 53.97%, rgba(229, 63, 82, 0.00) 146.29%); 
    font-family: montserrat;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 10px;
}