.small-btn{
    display: flex;
    justify-content: space-between;
    padding: 10px 24px;
    width: 100%;
    margin-bottom: 20px;
    max-height: min-content;
}
.small-btn:last-child{
    margin-bottom: 0;

}