@import "./../../variables.scss";

.references {
  padding: 38px 44px;
  .content {
    padding: 35px 70px;
    background-color: $secondary-color;
    border-radius: 10px;
  }
  h2 {
    font-size: 36px;
    font-family: Montserrat;
    font-weight: 500;
  }
}

.ref-table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.5fr;
  width: 100%;
  font-family: montserrat;
  margin-top: 19px;
  .ref-header {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 38px;
  }
  .ref-col {
    margin-bottom: 21px;
    align-self: center;
    &:not(:first-child):nth-child(4n-3) {
      font-size: 24px;
      font-weight: 500;
    }
  }
  .del-btn button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
  }
}

@media screen and (max-width: 600px) {
  .references {
    padding: 12px;
    .content {
      padding: 12px 9px;
      background-color: $secondary-color;
      border-radius: 10px;
    }
    h2 {
      display: none;
    }
  }

.ref-table{
  overflow-x: auto;
}
.ref-table {
  margin-top: 0;
  .ref-header {
    font-size: 16px;
    font-weight: 500;
    padding: 0 10px 0 0;
    margin-bottom: 18px;
  }

  .ref-col {
    font-size: 12px !important;
    font-weight: 500 !important;
    margin-bottom: 11px;
    align-self: center;
    width: 150px;
    button svg{
      width: 15px;
      height: 15px;
    }
    &:not(:first-child):nth-child(4n-3) {
      font-size: 12px !important;
    font-weight: 500 !important;
    width: 150px;
    }
    &:not(:first-child):nth-child(4n){
      width: fit-content;
    }
  }
}
}