.MainPage {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;


    .menuWrapper {
        width: 80px;
        height: 100%;
        margin-right: 30px;

        .logoWrapper {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 100%;
            }
        }

        .menu {
            margin-top: 30px;
            width: 100%;
            height: calc(100% - 50px);
            background: rgba(24, 27, 58, 1);
            border-radius: 10px;
            padding: 30px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;

            .menuHeader {
                .menuItem {
                    margin-bottom: 30px;
                }
            }
        }
    }

    .body {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        position: relative;

        .referencesContainer {
            width: 100%;
            height: 100%;
            background: rgba(24, 27, 58, 1);
            position: absolute;
            z-index: 40;
            top: 0;
            left: 0;
            border-radius: 8px;
            padding: 20px 30px;

            .closeIcon {
                position: absolute;
                top: 20px;
                right: 20px;
                cursor: pointer;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background: rgba(255, 255, 255, 0.2);

                &::after {
                    content: "";
                    width: 20px;
                    height: 3px;
                    background: white;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(45deg);
                }

                &::before {
                    content: "";
                    width: 20px;
                    height: 3px;
                    background: white;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(-45deg);
                }
            }

            .allReferencesWrapper {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;

                .referencesHeading {
                    margin-bottom: 30px;

                    h2 {
                        font-family: "Montserrat";
                        font-size: 36px;
                        font-weight: 500;
                        line-height: 44px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: white;
                    }
                }

                .references {
                    width: 100%;
                    height: 100%;
                    overflow-y: scroll;

                    &::-webkit-scrollbar {
                        display: none;
                    }

                    .referenceHeadingRow {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 20px;

                        div {
                            color: white;
                            font-size: 22px;
                            font-family: "Montserrat";
                            width: 25%;
                        }
                    }

                    .referenceItem {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 20px;

                        div {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            color: white;
                            font-size: 20px;
                            font-family: "Montserrat";
                            width: 25%;
                        }

                        .refFunctions{
                            justify-content: flex-end !important;
                        }
                    }
                }
            }
        }

        .informationBtns {
            width: 100%;
            min-height: 155px;
            height: 24%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &>div:not(:last-child) {
                margin-right: 20px;
            }

            .balanceWrapper {
                min-width: 340px;
                width: 24%;
                height: 100%;
                border: 1px solid rgba(255, 255, 255, 1);
                border-radius: 10px;
                padding: 30px;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                flex-direction: column;
                color: white;

                h2 {
                    font-family: "Montserrat";
                    font-size: 24px;
                    font-weight: 500;
                    line-height: 29px;
                    letter-spacing: 0em;
                    text-align: left;
                }

                p {
                    font-family: "Montserrat";
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 12px;
                    letter-spacing: 0em;
                    text-align: left;
                }
            }

            .reference {
                height: 100%;
                width: 24%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;

                .refItem {
                    padding: 0 30px;
                    border-radius: 10px;
                    background: linear-gradient(91.95deg, #F05F22 1.5%, #E53F52 53.97%, rgba(229, 63, 82, 0) 146.29%);
                    height: 45%;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;

                    &:hover {
                        background: #F05F22;
                    }

                    h3 {
                        font-family: Montserrat;
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 24px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: rgba(255, 255, 255, 1);
                    }

                    img {
                        width: 30px;
                        height: 30px;
                    }
                }
            }

            .bigRefItem {
                height: 100%;
                width: 24%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                background: linear-gradient(91.95deg, #F05F22 1.5%, #E53F52 53.97%, rgba(229, 63, 82, 0) 146.29%);
                padding: 30px;
                border-radius: 10px;
                font-family: Montserrat;
                font-size: 18px;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: left;
                color: rgba(255, 255, 255, 1);
                cursor: pointer;

                &:hover {
                    background: #F05F22;
                }

                img {
                    width: 40px;
                    height: 40px;
                    margin-bottom: 15px;
                }
            }
        }

        .statisticsWrapper {
            width: 100%;
            height: 39%;
            // max-height: 255px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .referencesWrapper {
            height: 30% !important;
            display: flex;
            justify-content: space-between;
            align-items: center;


            .referencesDiv {
                border-radius: 10px;
                padding: 20px;
                width: 50%;
                height: 100% !important;
                background: rgba(24, 27, 58, 1);

                .referencesHeading {
                    margin-bottom: 8px;

                    h2 {
                        font-family: "Montserrat";
                        font-size: 24px;
                        font-weight: 500;
                        line-height: 29px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: white;
                    }

                }

                .references {
                    width: 100%;
                    max-height: 80%;
                    overflow-y: scroll;

                    &::-webkit-scrollbar {
                        display: none;
                    }


                    .referenceItem {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        color: white;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 19px;
                        font-family: "Montserrat";
                        margin-bottom: 8px;

                        img {
                            width: 24px;
                            height: 24px;
                            margin-left: 20px;
                            cursor: pointer;
                        }
                    }
                }
            }

            .monitoringDiv {
                border-radius: 10px;
                padding: 20px;
                width: 49%;
                height: 100% !important;
                background: rgba(24, 27, 58, 1);

                .monitoringHeading {
                    margin-bottom: 8px;

                    h2 {
                        font-family: "Montserrat";
                        font-size: 24px;
                        font-weight: 500;
                        line-height: 29px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: white;
                        padding-left: 20px;
                        margin-bottom: 10px;
                    }
                }

                .tableMonitoring {
                    width: 100%;
                    height: 80%;
                    overflow-y: scroll;

                    &::-webkit-scrollbar {
                        display: none;
                    }

                    tr {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border-bottom: 1px white solid;

                        &:first-child {
                            border-top: 1px white solid;
                        }

                        td {
                            width: 33%;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            padding: 10px 0 10px 20px;
                            color: white;
                            font-size: 14px;
                            font-weight: 400;
                            font-family: "Montserrat";
                            border-right: 1px solid white;

                            &:last-child {
                                border-right: none;
                            }
                        }
                    }
                }
            }
        }
    }
}