@import "./../../../variables.scss";
.nav-bar {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 80px;
  height: 100%;

  text-align: center;
}
.logo-container {
  margin-bottom: 31px;

  .logo {
    height: 60px;

    background-image: url("../../../logo.png");
  }
}

.colored-nav-bar {
  height: 94vh;
  background-color: $secondary-color;
  display: flex;
  border-radius: 10px;
  padding: 45px 28px;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;

  .nav-bar-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // надо изменить значение когда добавлю иконки
    .nav-bar-icon {
      list-style-type: none;
      margin-bottom: 34px;
    }
  }
  .nav-btn {
    margin-bottom: 34px;
  }
  .exit-btn {
    color: #e53f52;
    align-self: center;
  }
}

@media screen and (max-width: 600px) {
  .nav-bar {
    display: flex;
  }
  .colored-nav-bar {
    display: none;
  }
  .logo-container {
    margin-bottom: 26px;
    .logo {
      width: 40px;
      height: 40px;
      background-repeat: no-repeat;
      background-size: contain;
    }
    p {
      position: relative;
      top: -13px;
      font-size: 6px;
      font-family: "Montaga";
      text-align: left;
      left: 6px;
    }
  }
}
