@import "./../../../variables.scss";

.links {
  padding: 24px 30px;
  background-color: $secondary-color;
  border-radius: 10px;
  max-width: 100%;
  h2 {
    margin-bottom: 21px;
  }
}

.links-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-collapse: collapse;
  .link-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
  .link-col {
    padding: 8px;
    text-align: left;
    max-width: max-content;
  }
}

.copy-btn {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
